.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.grid-item {
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
}

.no-gap {
    margin: 0;
    padding: 10px;
    background-color: #f3f3f3;
}

.selected-user {
    background-color: #f8f8f8;
    border: 2px solid #505050;
}

.selected-user:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.fixed-buttons {
    right: 10px;
    display: flex;
    gap: 10px;
}

.user-highlight:hover {
    background-color: #e0e0e0;
}

.buttonColor {
    display: inline-flex;
    align-items: center;
    row-gap: 1.5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border-radius: 10%;
    font-size: small;
    font-weight: bold;
    border: 0px;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}