.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.grid-item {
  border: 1px solid grey;
  text-align: center;
  padding: 5px;

}

.no-gap {
  margin: 0;
  padding: 10px;
  background-color: #f3f3f3;
}